*{
    padding: 0%;
    margin: 0%;
    transition: 0.5s;
}
html,body{
    height: 170%;
    background-color: rgb(24, 26, 27);
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: rgb(232, 230, 227);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    line-height: 50px;
}
hr{
    color: rgb(53, 57, 59);
    border: solid 1px;
}
h1,h2,p{
    cursor: default;
}


#head{
    height: 22.5%;
    /* background: url(../img/mt.jpg) no-repeat;
    background-size: auto;
    background-position: bottom center; */
    background-color: aquamarine;  
    transition: 2s;
    overflow: hidden;
    filter: saturate(1.2) contrast(1.2) blur(0px);
}
.img{
    position: absolute;
    z-index: -1;
    bottom: -20px;
    left: auto;
    filter: saturate(1.2) contrast(1.2) blur(0px);
    transition: all 1s;
}

#head>a{
    font-size: 25px;
    transition: 0.5s;
    cursor: pointer;
}
#header{
    float: right;
    font-size: 15px;
}
#header a{
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    height: 50px;
    transition: 0.5s;
}
#head a:hover{
    color: #333;
    transition: 1s;
}
#head h1{ 
    width: 400px;
    margin: auto;
    text-align: center;
    font-size: 50px;
    font-weight: 200;
    transition: 0.5s;
}
#head h1:hover{
    transform: scale(1.5);
    transition: 1s;
}
#head h2{
    width: 50%;
    margin: auto;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    transition: 0.5s;
}
#head h2:hover{
    transform: scale(1.5);
    transition: 1s;
}



#body{
    height: 62.5%;
    background-color: rgb(24, 26, 27);
    font-size: 30px;
    
}
#body .title{
    font-weight: 900;
}
#body a:hover{
    color:rgb(91, 227, 255);
    transition: 0.5s;
    transform: scale(1.15);
}
#body a{
    width: 80%;
    transition: 0.5s;
    display: block;
    color: rgb(192, 186, 178);
    margin-left: 50px;
}
#body p{
    color: rgb(232, 230, 227);
    line-height: 50px;
    width: 20%;
    margin: auto;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    transition: 0.5s;
}
#body p:hover{
    transition: 1s;
    transform: scale(1.5);
}
.container{
    max-width: 750px;
    margin: auto;
}

.rm{
    color: rgb(192, 186, 178);
    cursor: pointer;
    position: absolute;
    right: 25%;
    font-weight: 400;
    transition: 1s;
    text-decoration: underline rgb(192, 186, 178);
}
.rm:hover{
    color: #9ff;
}



#foot{
    height: 15%;
    background-color: rgb(24, 26, 27);
    color: grey;
    text-align: center;
    line-height: 50px;
}
#foot a{
    text-decoration: underline;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(151, 151, 151);
    margin: 0px;
    transition: color 0.5s;
}
#foot a:hover{
    color: rgb(91, 227, 255);
    transition: 1s;
}



@media screen and (max-width: 660px){
    #flexContent{
        background-color: #333;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 1s;
        top: -100%;
        z-index: 1;
        height: 100%;
        width: 100%;
        font-size: 5vw;
        position: fixed;
    }
    #flexContent a{
        z-index: 2;
        color: #fff;
        cursor: pointer;
    }
    #flexContent a:hover{
        color: #9ff;
    }

    #header a{
        display: none;
    }
    #hr{
        display: block;
    }
    #flexBox{
        display: inline-block;
        background-color: rgb(53, 57, 59);
        line-height: 50px;
        width: 10%;
        position: absolute;
        text-align: center;
        color: aliceblue;
        cursor: pointer;
        
    }
    #flexBox img{
        padding-top: 10px;
        height: 23px;
        z-index: 999;
    }
    #head p{
        cursor: pointer;
    }
    #head>a{
        background-color: rgb(24, 26, 27);
        display: inline-block;
        width: 85%;
        line-height: 50px;
        margin: 0;
        padding-left: 5%;
    }
    #head h1{
        width: 60%;
    }
}